/*/////////////STYLESHEET//////////////*/


html {
  box-sizing: border-box;
	background-color: #FF9769;
	color: ghostwhite;
	margin: 0 auto;
}
*, :before, :after {
  box-sizing: inherit; 
}

a:link {
	color: ghostwhite;
	text-decoration: none;
}
a:visited {
	color: ghostwhite;
}
a:hover {
	color: ghostwhite;
}

/*------------ Title/Header -----------*/
.title {
	position: fixed;
	background-color: #FF9769;
	z-index: 1;
	width: 101%;
	font-family: 'Sanchez', serif;
	font-size: 130%;
	margin-left: -1%;
	margin-top: -.8em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: .03px solid ghostwhite;
}
.title2 {
	background-color: white;
	border-bottom: .03px solid lightgray;
}
.title3 {
	background-color: #ACD6D6;
}

.home {
	margin-left: 0%;
}
a.home:visited {
	color:deepskyblue;
	text-decoration: underline;
}

.project {
	margin-left: 15%;
}
.contact {
	margin-left: 16%;
}




/*---------------- Index --------------*/
.navcurrent {
	text-decoration: underline;
}
.book {
	position: absolute;
	height: 45em;
	width: 35em;
	margin-top: 4.3%;
	margin-left: -1%;
	background-image:url(images/plant2.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.helloiam {
	font-size: 340%;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 5% ;
	position: fixed;
	margin: 3.5em 0em 0em 65%;
	background-color: none;
	border: none;
}


/*label animation*/
.switch {
	font-size: 340%;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 1 ;
	position: fixed;
	margin-top: 6.2em;
	margin-left: 65%;
	height: 1em;
	width: 5em;
	overflow: hidden;
	border: solid .02em none
}
.designertxt {
	margin-top: -.54%;
	animation-name: switch;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes switch {
	0%   {margin-top:-.54%;}
  25%  {margin-top:-20.9%;}
  50%  {margin-top:-37.8%;}
  75%  {margin-top:-60.9%;}
	100% {margin-top:-.54%;}
}






/*---------------- Projects --------------*/
.gallery {
	position: relative;
	height: 18em;
	width: 18.5em;
	margin-left: 4.5em;
	margin-top: 8em;
	
}

.gallery:hover {
	background-size: 20em;
	overflow: hidden;
	animation-name: hover;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}

@keyframes hover {
	0% {background-size: 25em}
	100% {background-size: 30em}
}

.project1 {
	margin-top: 10em;
	background-image:url(images/book.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.project2 {
	margin-top:10em;
	background-image:url(images/handletter.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
.project2:hover {
	background-size: 20em;
	overflow: hidden;
	animation-name: hover2;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}

@keyframes hover2 {
	0% {background-size: 20em}
	100% {background-size: 25em}
}
.project3 {
	margin-top:10em;
	background-image:url(images/typeface.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
.project4 {
	background-image:url(images/typebook.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
.project4:hover {
	background-size: 20em;
	overflow: hidden;
	animation-name: hover2;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}
.project5 {
	background-image:url(images/rootsraices2.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
.project5:hover {
	background-size: 23em;
	overflow: hidden;
	animation-name: hover3;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}
@keyframes hover3 {
	0% {background-size: 23em}
	100% {background-size: 26em}
}

.project6 {
	background-image:url(images/latinxbook.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;

}

.project7 {
	background-image:url(images/archer.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;


}
.project8 {
	background-image:url(images/accordionbook.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: left;

}


.footer {
	margin-top: 9em;
	padding-bottom: 2em;
	text-align: center;
	letter-spacing: .2em;
	font-size: .7em;
	font-family: 'Sanchez', serif;
	font-style: regular;
}



/*---------------- Project Pages --------------*/

.project_title {
	font-size: 340%;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 5% ;
	margin: 3em 0em 0em .5em;
}

.project_subtitle {
	font-size: 100%;
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-style: italic;
	line-height: 5% ;
	margin: 3em 0em 4em 2em;
}

/*---memory---*/
.memory_img1 {
	background-image: url(images/book.jpg);
	height: 40em;
	background-size: cover;
	background-position: top;
}

.memory_img2 {
	background-image: url(images/memory4.jpg);
	height: 40em;
	background-size: cover;
}

.memory_img3 {
	background-image: url(images/memory5.jpg);
	height: 40em;
	background-size: cover;
}

.memory_img4 {
	background-image: url(images/aloe.jpg);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: cover;
	background-position: right;
	
}
.memory_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	margin: 6em 0em 3em 8em
}

.memory_img5 {
	background-image: url(images/memory3.jpg);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: center;
	
}
.memory_img6 {
	background-image: url(images/memory1.jpg);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: center;
	
}
.memory_img7 {
	background-image: url(images/memory2.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: center;
	
}

.memory_img8 {
	background-image: url(images/plant2.JPG);
	height: 22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img9 {
	background-image: url(images/portrait.JPG);
	height: 22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img10 {
	background-image: url(images/portrait2.JPG);
	height:22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img11 {
	background-image: url(images/memory6.jpg);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img12 {
	background-image: url(images/memory7.jpg);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img13 {
	background-image: url(images/memory8.jpg);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}

.parallax {

	background-attachment: fixed;
}

/*---------------- Contact --------------*/
.headshot {
	margin-top: 15em;
	margin-bottom:5em;
	height: 25em;
	background-image:url(images/headshot.JPG);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	transform: rotate(270deg);
	position: relative;
	z-index: -1;
}
.rotate {
	transform: rotate(270deg);
}
.contact_info {
	margin-top: 9em;
	margin-left: -2em;
	font-size: 200%;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 130% ;
	z-index: 1;
}

/*<<<-----------GRID TEMPLATE------------>>>-*/

/*-- container for all the columns --*/
.grid-container{
  width: 100%; 
  margin: auto;
	position: relative; /* this is needed for any children to use position absolute */
}
/****** Template *******/
*, :before, :after {
  box-sizing: inherit; 
}

/*-- container for all the columns --*/
.grid-container{
  width: auto; 
	position: relative; /* this is needed for any children to use position absolute */
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  width: 8.33%; 
    
}

/*-- columns with different widths --*/
.col-1{ width: 8.333333%; }
.col-2{ width: 16.666666%; }
.col-3{ width: 25%;    }
.col-4{ width: 33.333333%; }
.col-5{ width: 41.666667%; }
.col-6{ width: 50%; }
.col-7{ width: 58.333333%; }
.col-8{ width: 66.666666%; }
.col-9{ width: 75%; }
.col-10{ width: 83.333333%; }
.col-11{ width: 91.666667%; }
.col-12{ width: 100%;   }

/*-- use thse to offset columns --*/
.col-offset-half { margin-left: 4.333333%; }
.col-offset-1 { margin-left: 8.333333%; }
.col-offset-2 { margin-left: 16.666666%; }
.col-offset-3 { margin-left: 25%; }
.col-offset-4 { margin-left: 33.333333%; }
.col-offset-5 { margin-left: 41.666667%; }
.col-offset-6 { margin-left: 50%; }
.col-offset-7 { margin-left: 58.333333%; }
.col-offset-8 { margin-left: 66.666666%; }
.col-offset-9 { margin-left: 75%; }
.col-offset-10 { margin-left: 83.333333%; }
.col-offset-11 { margin-left: 91.666667%; }
