/*/////////////STYLESHEET//////////////*/


html {
  box-sizing: border-box;
	background-color: #FF9769;
	color: ghostwhite;
	margin: 0 auto;
}
*, :before, :after {
  box-sizing: inherit; 
}
.header {
	font-family: 'Heebo', sans-serif;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: .1em;

}

a:link {
	color: ghostwhite;
	text-decoration: none;
}
a:visited {
	color: ghostwhite;
}
a:hover {
	color: ghostwhite;
}

/*------------ Title/Header -----------*/
.title {
	position: fixed;
	background-color: #FF9769;
	z-index: 1;
	width: 101%;
	font-family: 'Sanchez', serif;
	font-size: 2.4vw;
	margin-left: -1%;
	margin-top: -.9em;
	padding-top: 1.5em;
	padding-bottom: 1em;
	border-bottom: .03px solid ghostwhite;
}
.title2 {
	background-color: white;
	border-bottom: .03px solid lightgray;
}
.title3 {
	background-color: #ACD6D6;
}
@media screen and (min-width: 600px) {
	.title {
		font-size: 100%;
		padding-top: 1em;
	}
}

.home {
	margin-left: 0%;
}


.project {
	margin-left: 15%;
}
.contact {
	margin-left: 16%;
}

#coral_text {
	color: #FF9769;
}

#gray_text {
	color: #9B9B9B;
}




/*---------------- Index --------------*/
.navcurrent {
	text-decoration: underline;
}
.book {
	position: absolute;
	height: 100vw;
	width: 35em;
	margin-top: 2.9%;
	margin-left: -1%;
	background-image:url(images/letterpress1.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media screen and (min-width: 600px){
	.book {
		height: 100%;}
}

.helloiam {
	font-size: 7.5vw;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 5% ;
	position: fixed;
	margin: 3.5em 0em 0em 65%;
	background-color: none;
	border: none;
}
@media screen and (min-width: 600px){
	.helloiam {
		font-size: 340%;}
}


/*label animation*/
.switch {
	font-size: 7.5vw;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 1 ;
	position: fixed;
	margin-top: 6.2em;
	margin-left: 65%;
	height: 1em;
	width: 5em;
	overflow: hidden;
	border: solid .02em none
}
@media screen and (min-width: 600px){
	.switch {
		font-size: 340%;}
}

.designertxt {
	margin-top: -.54%;
	animation-name: switch;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes switch {
	0%   {margin-top:-.54%;}
  25%  {margin-top:-20.9%;}
  50%  {margin-top:-37.8%;}
  75%  {margin-top:-60.9%;}
	100% {margin-top:-.54%;}
}

.my_work {
	margin-top: 60vw;
	position: fixed;
	margin-left: 50vw;
	height: 10vw;
	width: 3em;
	background-color:#ACD6D6;
}
@media screen and (min-width: 600px){
	.my_work {
		margin-top: 28em;
		margin-left: 55%;
		height: 6vw;
	}
}
.myworktxt {
	font-size: 4vw;
	font-family: 'Sanchez', serif;
	font-style: ;
	color:ghostwhite;
	line-height: 1;
	margin-top: -0.1%;
	padding-top: .6em;
	padding-left: 5em;
	height: 1em;
	width: 12em;
}
@media screen and (min-width: 600px){
	.myworktxt {
		font-size: 170%;
		}
}

.my_work:hover {
	animation-name: mywork;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes mywork {
	0%   {margin-left:55%;}
	100% {margin-left:60%;}
}
/*---------------- Projects --------------*/
.gallery {
	position:relative;
	height: 20em;
	width: 20em;
	margin-left: 12%;
	margin-top: 4em;
	
}
@media screen and (min-width: 600px){
	.gallery{
	height: 25vw;
	width: 20vw;
	margin-left: 4.5em;
	margin-top: 4em;
	}
}
@media screen and (min-width: 900px){
	.gallery{
	height: 18em;
	width: 20em;
	margin-left: 4.5em;
	margin-top: 8em;
	}
}

.gallery:hover {
	background-size: 25em;
	overflow: hidden;
	animation-name: hover;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}

@keyframes hover {
	0% {background-size: 25em}
	100% {background-size: 30em}
}

.project1 {
	margin-top: 4em;
	background-image:url(images/book.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
@media screen and (min-width: 900px){
	.project1 {
		margin-top:10em;
	}
}

.project2 {
	margin-top: ;
	background-image:url(images/handletter.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

.project2:hover {
	background-size: 20em;
	overflow: hidden;
	animation-name: hover2;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}

@keyframes hover2 {
	0% {background-size: 20em}
	100% {background-size: 25em}
}
.project3 {
	margin-top:4em;
	background-image:url(images/typeface.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
@media screen and (min-width: 900px){
	.project3 {
		margin-top:10em;
	}
}
.project4 {
	margin-top:4em;
	background-image:url(images/letterpress1-1.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
@media screen and (min-width: 900px){
	.project4 {
		margin-top:10em;
	}
}

.project4:hover {
	background-size: 30em;
	overflow: hidden;
	animation-name: hover;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}

.project5 {
	background-image:url(images/rootsraices2.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
.project5:hover {
	background-size: 23em;
	overflow: hidden;
	animation-name: hover3;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}
@keyframes hover3 {
	0% {background-size: 23em}
	100% {background-size: 26em}
}

.project6 {
	background-image:url(images/latinxbook.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;

}

.project7 {
	background-image:url(images/allaccess6-04-1.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;

}
.project7:hover {
	background-size: 23em;
	overflow: hidden;
	animation-name: hover;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}
.project8 {
	background-image:url(images/hexbox14.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;

}

.project9 {
	background-image:url(images/stilllife-1.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;

}
.project9:hover {
	background-size: 10em;
	overflow: hidden;
	animation-name: hover2;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}

.project10 {
	background-image:url(images/carnaval9.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: left;
}
.project10:hover {
	overflow: hidden;
	animation-name: hover;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}

.project11 {
	background-image:url(images/casa.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}
.project11:hover {
	overflow: hidden;
	animation-name: hover2;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}
.project_text {
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 5% ;
	font-size: 3em;
	text-align: right;
	margin-top: -.03em;
	padding: 4.7em 0.5em 2em 1em;
	color: black;
	background-color: #FF9769;
	background-size: cover;
	opacity: 0;
}
@media screen and (min-width: 600px){
	.project_text {
		padding: 1.8em 0.4em 2em 2em;
	}
}
@media screen and (min-width: 900px){
	.project_text{
		padding: 4em 0.5em 2em 1em;}
}
	.project_text:hover {
	animation-name: text;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	}

.project_text2 {
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 100% ;
	font-size: 3em;
	text-align: right;
	margin-top: -.03em;
	padding: 3.7em 0.4em 2em 1em;
	color: black;
	background-color: white;
	background-size: cover;
	opacity: 0;
}
@media screen and (min-width: 600px){
	.project_text2 {
		padding: 0.8em 0.4em 2em 2em;
	}
}
@media screen and (min-width: 900px){
	.project_text2{
		padding: 3em 0.4em 2em 1em;}
}
	.project_text2:hover {
	animation-name: text;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	}
.project_text3 {
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 5% ;
	text-align: right;
	font-size: 3em;
	margin: 0em 0em 0em 0em;
	padding: 4.6em .5em 2em 2em;
	color: white;
	background-color: black;
	background-size: cover;
	opacity: 0;
}
@media screen and (min-width: 600px){
	.project_text3 {
		padding: 1.7em .5em 2em 2em;
	}
}
@media screen and (min-width: 900px){
	.project_text3 {
		padding: 4em .5em 2em 2em;
	}
}
	.project_text3:hover {
	animation-name: text;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	}
.project_text4 {
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 100% ;
	font-size: 3em;
	text-align: right;
	margin-top: -.03em;
	padding: 3.7em .4em 1em 1em;
	color: white;
	background-color: black;
	background-size: cover;
	opacity: 0;
}
@media screen and (min-width: 600px){
	.project_text4 {
		padding: 0em .5em 1.8em 2em;
	}
}
@media screen and (min-width: 900px){
	.project_text4 {
		padding: 3.05em .4em 1em 1em;
	}
}
	.project_text4:hover {
	animation-name: text;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	}
.project_text5 {
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 100% ;
	font-size: 3em;
	text-align: right;
	margin-top: -.03em;
	padding: 3.7em .4em 1em 1em;
	color: black;
	background-color: white;
	background-size: cover;
	opacity: 0;
}
@media screen and (min-width: 600px){
	.project_text5 {
		padding: 0em 0.4em 1.8em 2em;
	}
}
@media screen and (min-width: 900px){
	.project_text5 {
		padding: 3.05em .4em 1em 1em;
	}
}
	.project_text5:hover {
	animation-name: text2;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	}

@keyframes text {
		0% {opacity: 0}
		100% {opacity: 0.3}
}
@keyframes text2 {
		0% {opacity: 0}
		100% {opacity: 0.6}
}


.motion_proj {
	background-image: url(images/motion1.png);
	background-size: cover;
	background-position: center;
}
.motion_proj:hover {
	background-size: 23em;
	overflow: hidden;
	animation-name: hover4;
	animation-duration: 1s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}
@keyframes hover4 {
	0% {background-size: 18em}
	50% {background-size: 24em}
	100% {background-size: 18em}
}

.footer {
	margin-top: 9em;
	padding-bottom: 2em;
	text-align: center;
	letter-spacing: .1em;
	font-size: .7em;
	font-family: 'Sanchez', serif;
	font-style: regular;
}
.footer2 {
	margin-top: 74em;
	padding-bottom: 2em;
	text-align: center;
	letter-spacing: .1em;
	font-size: .7em;
	font-family: 'Sanchez', serif;
	font-style: regular;
}




/*---------------- Project Pages --------------*/


.project_title {
	font-size: 340%;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 100% ;
	margin: 3em 0em 0em .5em;
}

.project_subtitle {
	font-size: 100%;
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-style: italic;
	line-height: 140% ;
	margin: 3em 0em 4em 2em;
}

.parallax {
	background-attachment: fixed;
}


/*--------Memory--------*/
.memory_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 3vw;
	margin: 1vw 10vw;
	padding-bottom: 20vw;
}
@media screen and (min-width: 900px){
	.memory_text1 {
		font-size: 1.2em;
		margin: 6em 0em 3em 8em;
		padding-bottom: 0vw;}
}

.memory_img1 {
	background-image: url(images/book.jpg);
	height: 70vw;
	background-size: 110%;
	background-repeat:no-repeat;
	background-position: center;
}
@media screen and (min-width: 600px){
	.memory_img1 {
		height: 80vw;
		background-size: cover;}
}

.memory_img2 {
	background-image: url(images/memory4.jpg);
	height: 70vw;
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: center;
}
@media screen and (min-width: 600px){
	.memory_img2 {
		height: 80vw;
		background-size: cover;}
}

.memory_img3 {
	background-image: url(images/memory5.jpg);
	height: 70vw;
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: center;
}
@media screen and (min-width: 600px){
	.memory_img3 {
		height: 80vw;
		background-size: cover;}
}

.memory_img4 {
	background-image: url(images/aloe.jpg);
	height: 35vw;
	width: 35vw;
	margin: 10vw 26vw;
	background-size: 180%;
	background-position: right;
	background-repeat: no-repeat;
}
@media screen and (min-width: 600px){
	.memory_img4 {
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: cover;
	background-position: right;}
}

.memory_img5 {
	background-image: url(images/memory3.jpg);
	height: 60vw;
	width: 10vw;
	margin: 10vw 9vw;
	background-size: cover;
	background-position: center;
	
}
@media screen and (min-width: 600px){
	.memory_img5 {
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: center;}
}

.memory_img6 {
	background-image: url(images/memory1.jpg);
	height: 60vw;
	width: 10vw;
	margin: 10vw 9vw;
	background-size: cover;
	background-position: center;
	
}
@media screen and (min-width: 600px){
	.memory_img6 {
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: center;}
}

.memory_img7 {
	background-image: url(images/memory2.jpg);
	height: 60vw;
	width: 10vw;
	margin: 10vw 9vw;
	background-size: cover;
	background-position: center;
	
}
@media screen and (min-width: 600px){
	.memory_img7 {
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: center;}
}


.memory_img8 {
	background-image: url(images/plant2.JPG);
	height: 22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img9 {
	background-image: url(images/portrait.JPG);
	height: 22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img10 {
	background-image: url(images/portrait2.JPG);
	height:22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img11 {
	background-image: url(images/memory6.jpg);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img12 {
	background-image: url(images/memory7.jpg);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}
.memory_img13 {
	background-image: url(images/memory8.jpg);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}


/*--------Handletter--------*/

.handletter_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	margin: 6em 0em 3em 8em
}

.handletter_img1 {
	background-image: url(images/handletter.jpg);
	height: 40em;
	background-size: cover;
	background-position: 0em -6em;
}

.handletter_img2 {
	background-image: url(images/handletter5.png);
	height: 40em;
	background-size: cover;
}

.handletter_img3 {
	background-image: url(images/handletter6.png);
	height: 40em;
	background-size: cover;
}

.handletter_img4 {
	background-image: url(images/handletter1.jpg);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: cover;
	background-position: right;
	
}

.handletter_img5 {
	background-image: url(images/handletter2.jpg);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: center;
	
}
.handletter_img6 {
	background-image: url(images/handletter4.jpg);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: center;
	
}
.handletter_img7 {
	background-image: url(images/handletter3.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: center;
	
}

/*--------typeface1--------*/

.typeface_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	margin: 6em 0em 3em 8em;
}

.typeface_img1 {
	background-image: url(images/typeface.jpg);
	height: 40em;
	background-size: cover;
	background-position: 0em -6em;
}

.typeface_img2 {
	background-image: url(images/typeface4.jpg);
	height: 40em;
	background-size: cover;
	background-position: center;
}

.typeface_img3 {
	background-image: url(images/typeface3.jpg);
	height: 40em;
	background-size: cover;
	background-position: center;
}

.typeface_img4 {
	background-image: url(images/typeface2.jpg);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: cover;
	background-position: center;
	
}

.typeface_img5 {
	background-image: url(images/typeface6.jpg);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: 100%;
	background-position: center;
	
}
.typeface_img6 {
	background-image: url(images/typeface5.png);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: center;
	
}
.typeface_img7 {
	background-image: url(images/typeface7.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: center;
	
}


/*--------letterpress2--------*/
.letterpress_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	margin: 6em 0em 7em 8em;
}

.letterpress_img1 {
	background-image: url(images/letterpress1.png);
	height: 40em;
	background-size: cover;
	background-position: 0em -6em;
}
.letterpress_img2 {
	background-image: url(images/letterpress4.jpg);
	height: 40em;
	background-size: cover;
	background-position: center;
}
.letterpress_img3 {
	background-image: url(images/letterpress3.jpg);
	height: 40em;
	background-size: cover;
	background-position: center;
}
.letterpress_img4 {
	background-image: url(images/letterpress2.jpg);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: cover;
	background-position: center;
	
}
.letterpress_img5 {
	background-image: url(images/letterpress6.jpg);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: bottom;
	
}
.letterpress_img6 {
	background-image: url(images/letterpress5.jpg);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: center;
	
}
.letterpress_img7 {
	background-image: url(images/letterpress7.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: right;
	
}


/*-----RootsRaices----*/

.rootsraices_img1 {
	background-image: url(images/rootsraices6.png);
	height: 40em;
	background-size: cover;
	background-position: 0em -6em;
}
.rootsraices_img2 {
	background-image: url(images/rootsraices.png);
	height: 40em;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
.rootsraices_img3 {
	background-image: url(images/rootsraices7.png);
	height: 40em;
	background-size: cover;
	background-position: center;
}
.rootsraices_img4 {
	background-image: url(images/rootsraices8.gif);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: 85%;
	background-position: center;
	background-repeat: no-repeat;
	
}
.rootsraices_img5 {
	background-image: url(images/rootsraices5.png);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: 120%;
	background-position: -1.8em 2em ;
	
}
.rootsraices_img6 {
	background-image: url(images/rootsraices9.png);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: right;
	
}
.rootsraices_img7 {
	background-image: url(images/rootsraices2.png);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: center;
	
}


/*----latinx----*/
.latinx_img1 {
	background-image: url(images/latinxbook3.jpg);
	height: 40em;
	background-size: cover;
	background-position: 0em -6em;
}
.latinx_img2 {
	background-image: url(images/latinxbook2.jpg);
	height: 40em;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.latinx_img3 {
	background-image: url(images/latinxbook4.png);
	height: 40em;
	background-size: 150%;
	background-position: left;
}
.latinx_img4 {
	background-image: url(images/latinxbook.jpg);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: cover;
	background-position: center;
	
}
.latinx_img5 {
	background-image: url(images/latinxbook5.jpg);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: 0em -1em;
	
}
.latinx_img6 {
	background-image: url(images/rootsraices3.JPG);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: 160%;
	background-position: -9em -2.3em;
	
}
.latinx_img7 {
	background-image: url(images/latinxbook6.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: left;
	
}


/*-------all access------*/
.allaccess_img1 {
	background-image: url(images/allaccess.png);
	height: 40em;
	background-size: 45%;
	background-position: 22em 10em;
	background-repeat: no-repeat;
	background-color: #44D3B8;
	
}
.allaccess_img2 {
	background-image: url(images/allaccess6-04.png);
	height: 40em;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.allaccess_img3 {
	background-image: url(images/allaccess11.png);
	height: 40em;
	background-size: cover;
	background-position: left;
}
.allaccess_img4 {
	background-image: url(images/allaccess_record.gif);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
}
.allaccess_img5 {
	background-image: url(images/allaccess10.png);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	
}
.allaccess_img6 {
	background-image: url(images/allaccess8.png);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	
}
.allaccess_img7 {
	background-image: url(images/allaccess9.png);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	
}

/*----hexbox----*/
.hexbox_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	margin: 6em 0em 3em 8em
}

.hexbox_img1 {
	background-image: url(images/hexbox3.jpg);
	height: 40em;
	background-size: cover;
	background-position: 0em 1em;
}

.hexbox_img2 {
	background-image: url(images/hexbox4.jpg);
	height: 40em;
	background-size: cover;
}

.hexbox_img3 {
	background-image: url(images/hexbox12.png);
	height: 40em;
	background-size: cover;
	background-position: center;
}

.hexbox_img4 {
	background-image: url(images/hexbox9.png);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: cover;
	background-position: right;
	
}

.hexbox_img5 {
	background-image: url(images/hexbox5.jpg);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: center;
	
}
.hexbox_img6 {
	background-image: url(images/hexbox6.jpg);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: center;
	
}
.hexbox_img7 {
	background-image: url(images/hexbox7.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: center;
	
}

.hexbox_img8 {
	background-image: url(images/hexbox10.png);
	height: 22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: top;
	
}
.hexbox_img9 {
	background-image: url(images/hexbox11.png);
	height: 22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: center;
	
}
.hexbox_img10 {
	background-image: url(images/hexbox2.jpg);
	height:22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: center;
	
}
.hexbox_img11 {
	background-image: url(images/hexbox1.jpg);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}
.hexbox_img12 {
	background-image: url(images/hexbox8.png);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}
.hexbox_img13 {
	background-image: url(images/hexbox13.png);
	height: 22em;
	padding: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}

/*------habichuelas------*/
.habichuelas_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	margin: 6em 0em 3em 8em
}

.habichuelas_img1 {
	background-image: url(images/habichuelas5.jpg);
	height: 40em;
	background-size: cover;
	background-position: 0em 2em;
}

.habichuelas_img2 {
	background-image: url(images/habichuelas5.jpg);
	height: 40em;
	background-size: cover;
	background-position: bottom;
}


.habichuelas_img4 {
	background-image: url(images/stilllife.jpg);
	height: 30em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: 22em;
	background-position: center;
	background-repeat: no-repeat;
	
}

.habichuelas_img5 {
	background-image: url(images/habichuelas3.jpg);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: left;
	
}
.habichuelas_img6 {
	background-image: url(images/habichuelas4.jpg);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: center;
	
}
.habichuelas_img7 {
	background-image: url(images/habichuelas6.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: center;
	
}



/*----carnaval-----*/
.carnaval_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	margin: 8em 0em 3em 3em
}

.carnaval_img1 {
	background-image: url(images/canraval8.jpg);
	height: 40em;
	background-size: cover;
	background-position: 0em 1em;
}

.carnaval_img2 {
	background-image: url(images/carnaval2.jpg);
	height: 40em;
	background-size: cover;
	background-position: center;
}

.carnaval_img3 {
	background-image: url(images/carnaval3.jpg);
	height: 40em;
	background-size: cover;
	background-position: center;
}

.carnaval_img4 {
	background-image: url(images/carnaval.jpg);
	height: 33em;
	width: 30em;
	margin: 6em 1em 6.5em 6em;
	background-size: 20em;
	background-position: center;
	background-repeat: no-repeat;
}

.carnaval_img5 {
	background-image: url(images/carnaval5.jpg);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: center;
	
}
.carnaval_img6 {
	background-image: url(images/carnaval7.JPG);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: center;
	
}
.carnaval_img7 {
	background-image: url(images/carnaval6.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: center;
	
}

/*----casa de MD----*/
.casa_text1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	margin: 6em 0em 3em 8em
}

.casa_img1 {
	background-image: url(images/casa3.jpg);
	height: 40em;
	background-size: cover;
	background-position: 0em 3em;
}

.casa_img2 {
	background-image: url(images/casa6.jpg);
	height: 40em;
	background-size: cover;
}

.casa_img3 {
	background-image: url(images/casa12.jpg);
	height: 40em;
	background-size: cover;
	background-position: center;
}

.casa_img4 {
	background-image: url(images/casa8.jpg);
	height: 30em;
	width: 30em;
	margin: 3em 0em 8em 6.5em;
	background-size: cover;
	background-position: left;
	
}

.casa_img5 {
	background-image: url(images/casa4.png);
	height: 20em;
	margin: 11em 1em 11em 8em;
	background-size: cover;
	background-position: center;
	
}
.casa_img6 {
	background-image: url(images/casa7.png);
	height: 20em;
	margin: 11em 1em 11em 2em;
	background-size: cover;
	background-position: center;
	
}
.casa_img7 {
	background-image: url(images/casa5.jpg);
	height: 20em;
	margin: 11em 1em 12em 2em;
	background-size: cover;
	background-position: center;
	
}

.casa_img8 {
	background-image: url(images/casa1.jpg);
	height: 22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: top;
	
}
.casa_img9 {
	background-image: url(images/casa11.png);
	height: 22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: left;
	
}
.casa_img10 {
	background-image: url(images/casa2.jpg);
	height:22em;
	margin: 11em 0em -2em 0em;
	background-size: cover;
	background-position: 0em 4em;
	
}
.casa_img11 {
	background-image: url(images/casa10.jpg);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}
.casa_img12 {
	background-image: url(images/casa12.png);
	height: 22em;
	margin: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}
.casa_img13 {
	background-image: url(images/casa13.png);
	height: 22em;
	padding: 2em 0em 12em 0em;
	background-size: cover;
	background-position: center;
	
}

/*---------------- Motion --------------*/
.video {
	width: 40em;
	margin-top: 10em;
	position: relative;
  border-radius: 2em;
	height: 22.4em;
	overflow: hidden;
	align-items: left;
}

/*---------------- Contact --------------*/
.headshot {
	margin-top: 50vw;
	padding-right: 30vw;
	margin-bottom: 0vw;
	width: 80vw;
	height: 20vw;
	background-image:url(images/headshot.JPG);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: -1;

}
@media screen and (min-width: 900px){
	.headshot {
	margin-top: 10vw;
	padding-right: 30vw;
	margin-bottom: 15vw;
	width: 80vw;
	height: 20vw;
	background-image:url(images/headshot.JPG);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: -1;}
}
.rotate {
	transform: rotate(270deg);
}
.contact_info {
	padding-top: 15vw;
	padding-left: 25vw;
	font-size: 1.0em;
	font-family: 'Heebo', sans-serif;
	font-style: bold;
	line-height: 130% ;
	z-index: 1;
	position: fixed;
}
@media screen and (min-width: 900px){
	.contact_info {
		font-size:2.5vw;
		padding-left: 45vw;
	}
}


/*<<<-----------GRID TEMPLATE------------>>>-*/

/*-- container for all the columns --*/
.grid-container{
  width: 100%; 
  margin: auto;
	position: relative; /* this is needed for any children to use position absolute */
}
/****** Template *******/
*, :before, :after {
  box-sizing: inherit; 
}

/*-- container for all the columns --*/
.grid-container{
  width: auto; 
	position: relative; /* this is needed for any children to use position absolute */
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  width: 8.33%; 
    
}

/*-- columns with different widths --*/
.col-1{ width: 8.333333%; }
.col-2{ width: 16.666666%; }
.col-3{ width: 80%;  }
.col-4{ width: 33.333333%; }
.col-5{ width: 41.666667%; }
.col-6{ width: 50%; }
.col-7{ width: 58.333333%; }
.col-8{ width: 66.666666%; }
.col-9{ width: 75%; }
.col-10{ width: 83.333333%; }
.col-11{ width: 91.666667%; }
.col-12{ width: 100%;   }

@media screen and (min-width: 600px){
	.col-3{ width: 80%;  }
}
@media screen and (min-width: 900px){
	.col-3{ width: 25%;  }
}

/*-- use thse to offset columns --*/
.col-offset-half { margin-left: 4.333333%; }
.col-offset-1 { margin-left: 8.333333%; }
.col-offset-2 { margin-left: 16.666666%; }
.col-offset-3 { margin-left: 25%; }
.col-offset-4 { margin-left: 33.333333%; }
.col-offset-5 { margin-left: 41.666667%; }
.col-offset-6 { margin-left: 50%; }
.col-offset-7 { margin-left: 58.333333%; }
.col-offset-8 { margin-left: 66.666666%; }
.col-offset-9 { margin-left: 75%; }
.col-offset-10 { margin-left: 83.333333%; }
.col-offset-11 { margin-left: 91.666667%; }
